- provide :title, "2013"

= render "header_2013"
.container.content
	.row
		.span3
			.left_column
				%ul.nav.nav-tabs.nav-stacked{ "data-spy" => "affix", "data-offset-top" => "204" }
					- [ "host" ].each do |s|
						%li{ class: s == "host" ? "active" : nil }
							= link_to "##{s}" do
								= s.titlecase
								%i.icon-chevron-right
		.span9
			#host.section
				%h1 Host
				.section-prompt
					If your organization would like to host the NDSC, please send a proposal with the following information by <strong>6PM on June 1st</strong> to
					= mail_to "abreu.jamil@gmail.com", "this email", :encode => "javascript"
				.host-list
					%ul
						%li Organization Name, History, and Mission Statement
						%li Conference Chair(s) Name and Email
						%li E-board Names and Emails
						%li Number of Active Members
						%li Description of Previous Event(s) You Are Most Proud Of
						%li Proposed Conference Dates (in April, and please make sure to avoid Easter weekend)
						%li Description of Campus, Transportation, and Housing Options
						%li Description of Potential Classrooms + Capacity and Availability of Largest Space
						%li Preliminary Agenda for Entire Conference
						%li Description of Potential Workshops and Speakers as Outlined in Your Agenda
						%li Preliminary Budget (please include any restrictions your school may have on ticket sales and outside sponsorship)
				%h4 In general, we will be looking for the teams that best show that they:
				.host-list.alert-success
					%ul
						%li Hold themselves to the highest standards of event quality, and excel in all aspects of professionalism (the best way to show this is via your proposal)
						%li Are willing to focus on the conference for the entire year, and can promote the event properly
						%li Can keep conference goers interested and engaged throughout the day.
						%li Strike a balance between workshops and networking - emphasize the mingling of people from different schools, regions, etc.
						%li Be creative, think BIG. Good Luck!
